.App-Restart > button {
  border-radius: 2px;
  padding: 6px 12px;
  background: skyblue;
  font-weight: 300;
  font-size: .6em;
  border: none;
  color: #fff;
  cursor: pointer;
}

.App-Restart > button:focus {
  outline: none;
}

.App-Restart > button:active {
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.App-Restart > button:hover {
  text-decoration: none;
  box-shadow: inset 0px 1px 3px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
